body{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin: 0px;
}

.Radio {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10px;
}

.RadioList ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  border-radius: 2px;
}

.RadioListItem {
  display: block;
  padding: 21px 14px;
  text-align: center;
  color: #ececec;
  background-color: #2f2f2f;
  border-bottom: 1px solid #565656;
  transition: all 150ms;
}


.RadioListItem:hover {
  background-color: #565656;
  cursor: pointer;
  color: white;
}

.ControlBar {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.125);
  height: 60px;
}

.ControlBarButton {
  font-size: 21px;
  display: block;
  float: left;
  color: white;
  border-radius: 30px;
  line-height: 60px;
  width: 60px;
  text-align: center;
  background: #333;
  transition: opacity 150ms;
  opacity: 0.9;
}

.ControlBarButton.playing {
  background: #00b09b;
  background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
  background: linear-gradient(to right, #96c93d, #00b09b);
}
.ControlBarButton.paused {
  background: #D38312;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}
.ControlBarButton.loading {
  background: #22c1c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.ControlBarButton:hover {
  opacity: 1;
  cursor: pointer;
}

.RadioNotSelected {
  text-align: center;
  font-size: 14px;
  padding: 18px 0;
  color: #8a8a8a;
  font-weight: bold;
}

.SelectedRadio {
  display: inline-block;
  text-align: left;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 10px;
}

.RadioStatus {
  color: #bebebe;
  text-transform: uppercase;
  font-size: 12px;
}

.ActiveRadio {
  font-size: 20px;
}